@import './styles/peers.css';
@import './styles/index.css';
@import './styles/fonts.css';
@import './styles/flex.css';

@import './styles/sidebar.css';
@import './styles/navbar.css';
@import './styles/header.css';
@import './styles/utilities.css';


#loader {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 90000;
}

#loader.fadeOut {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }

  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


.page-container {
  min-height: 100vh;
  padding-left: 280px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}

@media screen and (min-width:992px) and (max-width:1439px) {
  .page-container {
      padding-left: 70px
  }
}

@media screen and (max-width:991px) {
  .page-container {
      padding-left: 0
  }
}

.is-collapsed .page-container {
  padding-left: 70px
}

@media screen and (max-width:991px) {
  .is-collapsed .page-container {
      padding-left: 0
  }
}

@media screen and (min-width:992px) and (max-width:1439px) {
  .is-collapsed .page-container {
      padding-left: 280px
  }
}

.fixed-logo-text {
  flex-wrap: nowrap;
  align-items: center;
}


/* scrollbar */

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto
}

.ps__rail-x {
  height: 15px;
  bottom: 0
}

.ps__rail-x,
.ps__rail-y {
  display: none;
  opacity: 0;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  position: absolute
}

.ps__rail-y {
  width: 15px;
  right: 0
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
  display: block;
  background-color: transparent
}

.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y,
.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y {
  opacity: .6
}

.ps__rail-x:focus,
.ps__rail-x:hover,
.ps__rail-y:focus,
.ps__rail-y:hover {
  background-color: #eee;
  opacity: .9
}

.ps__thumb-x {
  -o-transition: background-color .2s linear, height .2s ease-in-out;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  bottom: 2px
}

.ps__thumb-x,
.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  position: absolute
}

.ps__thumb-y {
  -o-transition: background-color .2s linear, width .2s ease-in-out;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  right: 2px
}

.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x:hover>.ps__thumb-x {
  background-color: #999;
  height: 11px
}

.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y:hover>.ps__thumb-y {
  background-color: #999;
  width: 11px
}

@supports (-ms-overflow-style:none) {
  .ps {
      overflow: auto !important
  }
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
  .ps {
      overflow: auto !important
  }
}

.ps__rail-y {
  right: 0 !important;
  left: auto !important
}

/* scrollbar */